body {
	background-image: url('Elegant_Background-9.jpg');
}

header {
	color: #fff;
	text-align: center;
	font-size: 200%;
	font-family: ;
}

hr {
	width: 80%;
}

.image-size {
	width: auto;
	height: 200px;
	-webkit-box-shadow: 36px 25px 17px -8px rgba(0,0,0,0.65);
	box-shadow: 36px 25px 17px -8px rgba(0,0,0,0.65);
	border-radius: 8px;
	margin: 12px 0px 12px;
}

.poster:hover {
	opacity: 0.75;
}

.hidden_text {
	visibility: hidden;
}

#question {
	color: #ffd;
	font-size: 150%;
}